<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
</head>
<body>
<h1>Insertar</h1>

<form action="#" th:action="@{/agregarEntrada}" th:object="${journal}" method="post">
    <div>
        <label for="title">Titulo:</label>
        <input type="text" th:field="*{title}" id="title" />
    </div>
    <div>
        <label for="summary">Summary:</label>
        <input type="text" th:field="*{summary}" id="summary">
    </div>
    
    <div>
        <input type="button" value="Registrar">
    </div>

</form>
</body>
</html>